<form [formGroup]="antiquesForm" (ngSubmit)="onSubmit()">
  <ion-card class="course-card">
    <ion-card-header class="cheader">
      <ion-card-title>Додати товар</ion-card-title>
    </ion-card-header>
    <ion-card-content class="body">
      <ion-item>
        <ion-input
          label="Назва"
          formControlName="name"
          labelPlacement="floating"
          errorText="Назва повинна бути більше за 3 символи та починатися з великої літери"
          class="custom">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Вартість"
          formControlName="price"
          type="string"
          labelPlacement="floating"
          errorText="Неправильний формат"
          class="custom">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Рік"
          formControlName="year"
          type="number"
          labelPlacement="floating"
          errorText="Рік повинен бути більше 1000"
          class="custom">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Країна"
          formControlName="country"
          type="string"
          labelPlacement="floating"
          errorText="Країна повинна бути більше за 3 символи та починатися з великої літери"
          class="custom">
        </ion-input>
      </ion-item>
      <ion-segment (ionChange)="onTypeChange($event.detail.value)">
        <ion-segment-button value="Coin" content-id="Coin">
          <ion-label>Монети</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Book" content-id="Book">
          <ion-label>Книги</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Statue" content-id="Statue">
          <ion-label>Статуї</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Painting" content-id="Painting">
          <ion-label>Картини</ion-label>
        </ion-segment-button>
      </ion-segment>
      
      <ion-segment-view>
        <ion-segment-content id="Coin"></ion-segment-content>
        <ion-segment-content id="Book">
          <ion-item>
            <ion-input *ngIf="currentType === types[1]" label="Автор" formControlName="author" labelPlacement="floating"
              class="custom" errorText="Повинна бути більше за 3 символи та починатися з великої літери">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input *ngIf="currentType === types[1]" label="Кількість сторінок" formControlName="page" type="number"
              labelPlacement="floating" errorText="Кількість сторінок повинна бути більше за 5"
              class="custom">
            </ion-input>
          </ion-item>
        </ion-segment-content>
      

      
        <ion-segment-content id="Statue">
          <ion-item>
            <ion-input *ngIf="currentType === types[2]" label="Скульптор" formControlName="sculptor" labelPlacement="floating"
              class="custom" errorText="Повинна бути більше за 3 символи та починатися з великої літери">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input *ngIf="currentType === types[2]" label="Матеріал" formControlName="material" 
              labelPlacement="floating"
              class="custom" errorText="Повинна бути більше за 3 символи">
            </ion-input>
          </ion-item>
        </ion-segment-content>

        <ion-segment-content id="Painting">
          <ion-item>
            <ion-input *ngIf="currentType === types[3]" label="Художник" formControlName="artist" labelPlacement="floating"
              class="custom" errorText="Повинна бути більше за 3 символи та починатися з великої літери">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input *ngIf="currentType === types[3]" label="Стиль" formControlName="style" 
              labelPlacement="floating"
              class="custom" errorText="Повинна бути більше за 3 символи">
            </ion-input>
          </ion-item>
        </ion-segment-content>
      
      </ion-segment-view>
    </ion-card-content>
  </ion-card>
  <ion-button type="submit"
  (click)="onSubmit()"
  [disabled]="antiquesForm.invalid">
    Submit
  </ion-button>
</form>
