<ion-button (click)="categoryShow()">Категорії</ion-button>
<app-category
  *ngIf="isCategoryShow"
  (typeAdd)="addType($event)"
  (typeEdit)="editType($event)"
  (typeDelete)="deleteType($event)">
</app-category>
<ion-button (click)="addFormShow()">Додати антикваріат</ion-button>
<br>
<ion-button *ngIf="!isFilter" (click)="change_viewFilters()">Фільтрувати</ion-button>
<br>
<ion-button *ngIf="!isShowFilterByEpoch" (click)="change_isShowFilterByEpoch()">За епохою</ion-button>

<ion-button *ngIf="isShowFilterByEpoch" (click)="change_isShowFilterByEpoch()">Повернутись</ion-button>
<app-filter-by-epoch *ngIf="isShowFilterByEpoch" [antiques]="readService.antiques"></app-filter-by-epoch>


<ion-card *ngIf="isFilter">
  <ion-button (click)="change_viewFilters()">Повернутись</ion-button>
  <ion-card-header>
    <ion-card-title>Фільтування</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-card-subtitle>За типом: </ion-card-subtitle>
    <ion-item *ngFor="let type of antiquesType">
      <ion-checkbox
        [checked]="selectedTypes.includes(type)"
        (ionChange)="toggleType(type, $event.detail.checked)">
      </ion-checkbox>
      <ion-label>{{ type }}</ion-label>
    </ion-item>
    <ion-card-subtitle>За країною: </ion-card-subtitle>
    <ion-item *ngFor="let country of antiquesCountry">
      <ion-checkbox
        [checked]="selectedCountries.includes(country)"
        (ionChange)="toggleCountry(country, $event.detail.checked)">
      </ion-checkbox>
      <ion-label>{{ country }}</ion-label>
    </ion-item>
  </ion-card-content>
  <ion-button (click)="filters()">Застосувати</ion-button>
</ion-card>
  
  
<app-add-antiques *ngIf="showAddForm" (antiquesAdd)="addAntiques($event)"></app-add-antiques>
<div *ngIf="!isShowFilterByEpoch" >
<ion-card class="course-card" *ngFor="let ant of visibleAntiques; index as i">
  <ion-card-header class="cheader">
    <ion-card-title>{{ ant.getName() }}</ion-card-title>
    <ion-card-subtitle>{{ ant.getType() }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="body">
    <ion-item *ngFor="let details of ant.getDetails()">
      <ion-label>{{ details }}</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label class="price">Ціна: {{ ant.getPrice() }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Вік: {{ ant | age}}</ion-label>
    </ion-item>
  </ion-card-content>

  <ion-button>Купити</ion-button>
  <ion-button (click)="editFormShow(i)">Редагувати</ion-button>
  <ion-button color="danger" (click)="deleteAntique(i)">Видалити</ion-button>
  <app-edit-antiques *ngIf="showEditForm && i == editFormnumber"
  (antiquesEdit)="editAntiques($event, i)" [antiques]="readService.antiques[i]"></app-edit-antiques>
</ion-card>
</div>

